
App{
  text-align: center;
  display: flex;
}
html{
  background-color: #9ca6b3;
}

button{
  background-color: rgb(30, 157, 125);
}

header{
 color: bisque;
}
.container{
background-color: crimson;
text-align: center;
width: auto;
font-size: xx-large;
}