button{
  margin: 1rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
background-color: rgb(191, 189, 190);
text-align: center;
width: 25rem;
font-size: x-large;
border: 1rem double black;
}

#decrease{
background-color: crimson;
}

#increase{
background-color: black;
}